BOT_TOKEN=exemplo_de_token_do_bot
CLIENT_ID=exemplo_de_client_id
GUILD_ID=exemplo_de_guild_id
CANAL_REMINDER=exemplo_de_canal_impedimentos
CANAL_DAILY_VOZ=exemplo_de_canal_voz_daily
CANAL_DAILY_LOG=exemplo_de_canal_log_qa
DAILY_MIN=3
TZ=America/Sao_Paulo
PORT=3000
JIRA_DOMAIN=exemplo_de_dominio_jira
JIRA_EMAIL=exemplo_de_email_jira
JIRA_TOKEN=exemplo_de_token_jira
JIRA_BOARD=exemplo_de_board_id
JIRA_SPRINT_ID=exemplo_de_sprint_id
JIRA_SPRINT_NAME=exemplo_de_sprint_name
JIRA_PROJECT=exemplo_de_projeto_jira
JIRA_DEVOPS_LABEL=exemplo_de_label_devops
JIRA_DIAS_PARADA=exemplo_de_dias_parada
GITLAB_TOKEN=exemplo_de_token_gitlab
N8N_PROXY=exemplo_de_url_proxy_n8n
GITHUB_TOKEN=exemplo_de_token_github
GIST_ID=exemplo_de_gist_id
GIST_FILENAME=exemplo_de_gist_filename.json